.search-filters {
  margin-top: 40px;
}

.search-filters h5 {
  font-size: 13px;
  font-weight: 300;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-form-group {
  margin-top: 30px;
}

.input-label {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lower-val::after {
  content: "-";
  position: absolute;
  top: 5px;
  right: -3px;
}